#sidebar, body { font-family: 'Advent Pro'; font-style: normal; font-weight: 300; }
#sidebar h1, #sidebar h3 { font-family: 'Advent Pro'; font-style: normal; font-weight: 600; }
.field-name-field-price { font-family: 'Cinzel'; font-style: normal; font-weight: 700; }
.entry-title { font-family: 'Cinzel Decorative'; font-style: normal; font-weight: normal; }
.cinzel, .menu_label_title, .our_history { font-family: 'Cinzel'; font-style: normal; font-weight: normal; }
.gold_title { font-family: 'Herr Von Muellerhoff'; font-style: normal; font-weight: normal; }
.montserrat, .ultimate { font-family: 'Montserrat'; font-style: normal; font-weight: normal; }
